@import "tailwindcss";

@theme {
  --color-background: oklch(0.145 0 271.2deg);
  --color-foreground: oklch(0.985 0 271.2deg);
  --color-card: oklch(0.145 0 271.2deg);
  --color-card-foreground: oklch(0.985 0 271.2deg);
  --color-popover: oklch(0.145 0 271.2deg);
  --color-popover-foreground: oklch(0.985 0 271.2deg);
  --color-primary: oklch(0.491 0.241 292.6deg);
  --color-primary-foreground: oklch(0.985 0.002 249.2deg);
  --color-secondary: oklch(0.269 0 271.2deg);
  --color-secondary-foreground: oklch(0.985 0 271.2deg);
  --color-muted: oklch(0.269 0 271.2deg);
  --color-muted-foreground: oklch(0.715 0 271.2deg);
  --color-accent: oklch(0.269 0 271.2deg);
  --color-accent-foreground: oklch(0.985 0 271.2deg);
  --color-destructive: oklch(0.396 0.133 25.7deg);
  --color-destructive-foreground: oklch(0.985 0 271.2deg);
  --color-border: oklch(0.269 0 271.2deg);
  --color-input: oklch(0.269 0 271.2deg);
  --color-ring: oklch(0.491 0.241 292.6deg);
  --color-chart-1: oklch(0.53 0.193 262.1deg);
  --color-chart-2: oklch(0.699 0.134 165.5deg);
  --color-chart-3: oklch(0.723 0.15 60.6deg);
  --color-chart-4: oklch(0.619 0.203 312.7deg);
  --color-chart-5: oklch(0.612 0.209 6.1deg);
}
:root {
  color: ---color-foreground;
  width: 100%;
  height: 100vh;
}

body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: --color-background;
}
